* {
    outline: 0;
}
html {
    font-size: 10px;
}

body {
    font-family: 'Open Sans';
    position: fixed;
    height: 100%;
    color: white;
    background: #333;
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

h1 {
    margin-left: 0.5rem;
}

h2 {
    font-size: 1.5rem;
    margin-top: 0.25rem;
    margin-bottom: 0.75rem;
}

h3 {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

a {
    color: white;
}

/* PANELS */

.panel-container {
    display: table;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin: auto;
    height: 100%;
}

.panel {
    display: table-cell;
    vertical-align: top;
    position: relative;
}

.panel-section {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-bottom: 1rem;
    background: rgba(255, 255, 255, 0.1);
}

.tools-panel {
    width: 150px;
}

.map-panel {
}

.result-panel {
    width: 200px;
    margin: 1rem;
}


/* RESULTS */
.results__camera {
    width: 40px;
    margin-right: 2px;
    border: 1px solid white;
    cursor: pointer;
}

.results__selected-camera {
    z-index: 1000;
    position: relative;
    width: 100%;
    border: 1px solid wahite;
    transition: transform 0.3s ease;
    transform-origin: top right;
}

.results__selected-camera:hover {
    /*transform: scale(4);*/
}


/* BUTTONS */
button, input[type=file], .btn {
    padding: 0.5rem;
    text-decoration: none;
    border-radius: 3px;
    border: 0;
    font-family: 'Open Sans';
    font-size: 1.25rem;
    display: inline-block;
    cursor: pointer;
    color: white;
    margin: 0.125rem;
}

p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.btn input[type=file] {
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.btn--purple {
    $bg: #8a8acb;
    background: $bg;

    &:hover {
        background: lighten($bg, 10%);
    }
}

.btn--red {
    $bg: crimson;
    background: $bg;

    &:hover {
        background: lighten($bg, 10%);
    }
}

.bg--red {
    $bg: crimson;
    background: $bg;
}

.bg--green {
    $bg: #5caf36;
    background: $bg;
}

.btn--green {
    $bg: #5caf36;
    background: $bg;

    &:hover {
        background: lighten($bg, 10%);
    }
}

.section__actions {
    text-align: right;
}

/* INPUTS */
input {
    $bg: rgba(255,255,255,0.1);
    background: $bg;
    border: 0;
    border-radius: 2px;
    padding: 2px;
    color: white;

    &:hover {
        background: lighten($bg, 10%);
    }
}


/* TOOLS */
.camera-type {
    color: white;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.05);
    cursor: pointer;
    position: relative;
}

.camera-type__content {
    overflow: hidden;
}

.camera-type__remove {
    position: absolute;
    top: -0.75rem;
    right: -0.75rem;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    color: crimson;
}

.camera-type:hover {
    background: rgba(255, 255, 255, 0.2);
}

.camera-type:hover .camera-type__remove {
    opacity: 1;
    transform: scale(1.1);
}

.camera-type__selected, .camera-type__selected:hover {
    color: white;
    background: rgba(255, 255, 255, 0.5);
}

/* MAP */
.camera-path {
    cursor: move;
}
.camera-path__selected {
  /*stroke-dasharray: 5;*/
  /*animation: dash 10s linear;*/
  /*animation-iteration-count: infinite;*/
}

@keyframes dash {
  to {
    stroke-dashoffset: 250;
  }
}

/* intro.js */
.introjs-helperLayer {
    background: rgba(0,0,0,0.5);
}

.introjs-overlay {
    background-color: white;
}

.introjs-tooltip {
    background: #333;
}

.introjs-arrow.top {
    border-bottom-color: #333;
}

.introjs-arrow.left {
    border-right-color: #333;
}

.introjs-button, .introjs-button:active, .introjs-button:focus {
    background: #7d7d7d;
    border: 0;
    color: white;
    text-shadow: none;
    border-radius: 2px;
    margin-right: 0.25rem;
}

.introjs-button:hover {
    box-shadow: none;
}

.introjs-helperNumberLayer {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(to bottom,#5caf36 0,#427f26 100%);
}

.introjs-tooltiptext {
    font-size: 1.2rem;
}

.introjs-disabled, .introjs-disabled:hover {
    color: #5e5e5e;
    background: #797979;
}

